h1{
    font-size: 1%;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
    text-align: center;
    color: aliceblue;
}

.container{
    margin: 0%;
    padding: 0%;
    background-color: rgb(181, 223, 208);
    border-radius:15px;
}

label{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

input{
    border-radius: 2%;
}


body{
    background-image: url("https://img.freepik.com/vector-gratis/fondo-geometrico-plano_23-2148957201.jpg?w=2000");
    background-size: cover;
  
}
header{
    background-color: white;
}